.H1_Medium_20px_primary{
 font-size: 20px;
 font-weight: 600;
 color: #0D0F11;
}
.H1_Bold_24px_primary{
    font-size: 24px;
    font-weight: 600;
    color: #0D0F11;
   }
.regular_16px_primary{
    font-size: 16px;
    font-weight: 400;
    color: #0D0F11;
}
.bodyspan_16px_regular{
    font-size: 16px;
    font-weight: 400;
    color: #4B5768;
}
.bodyspan_16px_blue{
    font-size: 16px;
    font-weight: 400;
    color: #4396e9;
}
.bodyspan_14px_blue{
    font-size: 14px;
    font-weight: 400;
    color: #1787E0;
}
